%th.text-center Carrying
%th.text-center Trucking
%th.text-center Stiff Arm
%th.text-center Strength
%th.text-center Speed
%th.text-center Acceleration
%th.text-center Ball Carrier Vision
%th.text-center Stamina
%th.text-center Juke Move
%th.text-center Spin Move
