%th.text-center Catching
%th.text-center Catch in Traffic
%th.text-center Route Running
%th.text-center Spectacular Catch
%th.text-center Carrying
%th.text-center Awareness
%th.text-center Speed
%th.text-center Acceleration
%th.text-center Elusiveness
%th.text-center Jumping
