.container-fluid
  .row
    - @positions.each do |position_group_name, position_group|
      .col
        - position_group.each do |position|
          %h3= PlayerCard::POSITIONS[position]
          %ul.list-unstyled
            - PlayerCard::STYLES[position].each do |style|
              %li= link_to style_title(style), players_path(position: position, style: style)
