%h1 MUTRANK REBORN

%div.container
  %h2 Positions
  %ul
    %li
      Running Back
      %ul
        %li Every Down
        %li Speed
        %li Power
        %li Receiving
    %li
      Wide Receiver
      %ul
        %li Complete
        %li Pure
        %li Face Catching
        %li Blocking
    %li
      Quarterback
      %ul
        %li Dual Threat
        %li Pocket Passer
        %li Mobile
    %li
      Tight End
      %ul
        %li Receiving
        %li Blocking
        %li Face Catching
    %li
      Left Tackle
      %ul
        %li Balanced
        %li Run Blocking
        %li Pass Blocking
    %li
      Left Guard
      %ul
        %li Balanced
        %li Run Blocking
        %li Pass Blocking
    %li
      Center
      %ul
        %li Balanced
        %li Run Blocking
        %li Pass Blocking
    %li
      Right Guard
      %ul
        %li Balanced
        %li Run Blocking
        %li Pass Blocking
    %li
      Right Tackle
      %ul
        %li Balanced
        %li Run Blocking
        %li Pass Blocking
    %li
      Fullback
      %ul
        %li Balanced
        %li Run Blocking
        %li Pass Blocking
    %li
      Free Safety
      %ul
        %li Balanced
        %li Coverage
        %li Run Stuffing
        %li User
    %li
      Strong Safety
      %ul
        %li Balanced
        %li Coverage
        %li Run Stuffing
        %li User
    %li
      Right Outside Linebacker
      %ul
        %li 4-3
        %li 3-4
        %li Balanced
        %li Coverage
        %li Pass Rush
        %li Run Stuff
        %li User
    %li
      Middle Linebacker
      %ul
        %li Balanced
        %li Coverage
        %li Run Stuff
        %li Pass Rush
        %li User
    %li
      Left Outside Linebacker
      %ul
        %li 4-3
        %li 3-4
        %li Balanced
        %li Coverage
        %li Pass Rush
        %li Run Stuff
        %li User
    %li
      Left End
      %ul
        %li 4-3
        %li 3-4
    %li
      Right End
      %ul
        %li 4-3
        %li 3-4
    %li
      Defensive Tackle
      %ul
        %li 4-3
        %li 3-4
    %li
      Cornerback
      %ul
        %li Shut Down
        %li Zone
        %li Man
        %li You Shall Not Face Catch
        %li Run Stuffing
        %li Nickel
