#welcome
  .container-fluid
    %h2 Offense
    .row.justify-content-center
      - %w{ lt lg c rg rt te }.each do |position|
        = render partial: 'position_card', locals: { position: position }
    .row.justify-content-center
      - %w{ wr hb qb fb }.each do |position|
        = render partial: 'position_card', locals: { position: position }

  .container-fluid
    %h2 Defense
    .row.justify-content-center
      - %w{ fs rolb mlb lolb ss }.each do |position|
        = render partial: 'position_card', locals: { position: position }
    .row.justify-content-center
      - %w{ cb re dt le }.each do |position|
        = render partial: 'position_card', locals: { position: position }
