%th.text-center Speed
%th.text-center Acceleration
%th.text-center.th-lg Throw on the Run
%th.text-center.th-lg Throw Accuracy Short
%th.text-center.th-lg Throw Accuracy Mid
%th.text-center.th-lg Throw Accuracy Deep
%th.text-center Throw Power
%th.text-center Play Action
%th.text-center Carrying
%th.text-center Elusiveness
