%th.text-center Speed
%th.text-center Acceleration
%th.text-center Tackle
%th.text-center Pursuit
%th.text-center Awareness
%th.text-center Zone Coverage
%th.text-center Man Coverage
%th.text-center Play Recognition
%th.text-center Catching
%th.text-center Jumping
