%th.text-center Height
%th.text-center Jumping
%th.text-center Catch in Traffic
%th.text-center Spectacular Catch
%th.text-center Catching
%th.text-center Awareness
%th.text-center Speed
%th.text-center Acceleration
%th.text-center Release
