%th.text-center Man Coverage
%th.text-center Height
%th.text-center Jumping
%th.text-center Speed
%th.text-center Acceleration
%th.text-center Awareness
%th.text-center Play Recognition
%th.text-center Catching
%th.text-center Agility
%th.text-center Press
%th.text-center Zone Coverage
