%th.text-center Tackle
%th.text-center Block Shedding
%th.text-center Pursuit
%th.text-center Strength
%th.text-center Speed
%th.text-center Acceleration
%th.text-center Awareness
%th.text-center Play Recognition
%th.text-center Zone Coverage
%th.text-center Man Coverage
