@import "bootstrap";

$light-grey:  #D1D5DE;
$dark-grey:   #545359;
$brown:       #837569;
$dark-green:  #657153;
$light-green: #8AAA79;

$titillium-web: 'Titillium Web', Arial, sans-serif;
$fira-sans:     'Fira Sans', Helvetica, sans-serif;

body {
  background: url(asset-path('football-field-blur.jpg')) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: $fira-sans;
}

#header h1 a {
  font-family: $titillium-web;
  color: $light-grey;
  text-shadow: $dark-grey 1px 1px 1px;

  &:hover {
    text-decoration: none;
    color: $light-green;
  }
}

#main-content {
  padding: 3em 0;

  h3 {
    font-weight: bold;
    font-family: $titillium-web;
    letter-spacing: 0.1em;
  }
}

#welcome {
  .card {
    padding-left: 0.5em;
    margin-bottom: 2.5em;
    background-color: rgba(240,240,240,0.80);

    a {
      color: $dark-grey;

      &:hover {
        color: $dark-green;
      }
    }
  }
}

#player-cards {
  .nav-link {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    color: $light-grey;
    background-color: $light-green;
    border-color: $dark-green;

    &:hover {
      border-color: $dark-green;
      color: $light-green;
      background-color: $dark-green;
    }

    &.active {
      color: $dark-grey;
      background-color: $light-grey;
      border-color: $dark-green;
    }
  }


  thead {
    color: $light-grey;
    background-color: $dark-green;
  }
}


#welcome, #player-cards {
  .card {
    background-color: rgba(240,240,240,0.80);
  }
}

@media only screen and (max-width: 1200px) {
  .table th[data-abbrev] div {
    display: none;
  }

  .table th[data-abbrev]:after {
    content: attr(data-abbrev);
    display: block;
    text-align: center;
  }
}

#footer {
  border-top: 1px solid $light-grey;
  padding-bottom: 2.5em;
  text-align: right;
  color: $light-grey;
}
