%th.text-center Play Recognition
%th.text-center Zone Coverage
%th.text-center Height
%th.text-center Speed
%th.text-center Acceleration
%th.text-center Catching
%th.text-center Jumping
%th.text-center Hit Power
%th.text-center Tackle
%th.text-center Awareness
