%th.text-center Height
%th.text-center Speed
%th.text-center Acceleration
%th.text-center Agility
%th.text-center Jumping
%th.text-center Hit Power
%th.text-center Tackle
%th.text-center Catching
%th.text-center Catch in Traffic
%th.text-center Spectacular Catch
