!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MUTRANK REBORN
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    %div.container-fluid
      %header#header
        %h1 MUTRANK REBORN

    = yield

    %div.container-fluid
      %footer#footer I made this - Jared Mehle

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
